name: Publishing

on:
  push:
    paths:
      - sources/**
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install '3.13'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y tesseract-ocr
      - name: Install project
        run: uv sync

      - name: Run script
        run: uv run extract_dates.py

      - name: Check for changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          if ! git diff-index --quiet HEAD; then
            git commit -m "Update bin schedule"
            git push
          fi
